body{
    padding: 0;
    margin: 0;
}
nav{
    height: 55px;
    width: 100%;
    border: 1px solid lightgray;
}

.logo{
    border: 3px pink solid;
    height: 50px;
    width: 15%;
    padding: 5px 10% 0 8px;
    margin: 0;
    float: left;
}


.buttons{
    border: 1px pink solid;
    width: 20%;
    height: 50px;
    float: right;
    padding: 0;
    margin: 0;
}
.logoImg{
    height: 35px;
    width: 130px;
}
.symbol{
    height: 20px;
    width: 20px;
}
.button1{
    display: flex;
    align-items: center;
    margin: 7px 0 0 0;
    padding-left: 19px;
    border-radius: 30px;
    border: 0;
    background-color: rgb(239, 238, 238);
    font-weight: bold;
    width: 44%;
    height: 85%;
}
.button1:hover{
    background-color: rgb(224, 224, 224);
}
.searchBar{
    border: 1px pink solid;
    border-radius: 25px;
    height: 40px;
    width: 40%;
    margin-top: 6.5px;
    float: left;
    position: relative;
}
.search-input {
    width: 100%;
    padding: 10px 0px 10px 10px; /* Extra místo pro ikonu */
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: #888; /* Barva ikony */
    cursor: pointer;
}





.empty{
    width: 10px;
    border: 3px solid green;
}
